# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.myenv
# PyCharm
.idea/

# VS Code
.vscode/

# Docker
.docker/

# Logs
*.log

# Test coverage
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest cache
.pytest_cache/